/* Reset some default browser styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
}

main {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #333;
}

p {
  color: #666;
}

#map {
    border: 2px solid #000;
    cursor: crosshair;
}

#coordinates {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

/* Right Section */

#right-section {
  display: flex;
  justify-content: center;
}
